:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(79, 150, 82);
  --mainGrey: #d9e2da;
  --mainWhite: rgb(255, 255, 255);
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, sans-serif !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 100vh;
}
.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}
.footer {
  background: var(--mainBrown);
}
.menu,
.contact {
  background: var(--mainGrey);
}
.form {
  margin: 1rem 0;
}

.form__label {
  display: block;
  font-size: 67.5%;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.form__label + .form__label {
  margin-top: 0.5rem;
}

.form__input {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
}

.form__button {
  background-color: rebeccapurple;
  border: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  transition: background-color 150ms linear;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:hover,
.form__button:active,
.form__button:focus {
  background-color: color(rebeccapurple lightness(-20%));
}
.status {
  background: lightgrey;
  font-size: 87.5%;
  padding: 0.25rem;
}

.status__text {
  margin: 0 auto;
  max-width: 640px;
  text-align: right;
}
